@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');


 body {
  font-family: 'Poppins', sans-serif !important;

 }

.list_filtr_top{
 display: flex;
 justify-content: space-between;
}


.filtr_btn{
    padding: 13px 33px !important;
    border-radius: 31px !important;
    font-weight: 700 !important;
    color: #FF0150 !important;
    border-color: #FF0150 !important;
    border-radius: 30px !important;
}


.filter_btn:hover{
 color: #fff !important;
}


.add_list_btn{
    padding: 13px 33px !important;
    border-radius: 31px !important;
    background: linear-gradient(90deg, #FF0150 0%, #FF0185 100%);
    border-radius:100px;
    border: 1px solid #FF0150 !important;
    font-weight: 600 !important;
}


.list_filtr_top ul{
  display: flex;
  padding: 0;
  list-style-type: none;
  align-items: center;

}

.search_list{
    background: none!important;
    border: none !important;
    padding: 0px 2px !important;
    
}
.search_list svg{
 color: #84878D !important;
 font-weight: 200 !important;

}




.tb1 th{

background-color: #FF0150 !important;
color: #fff;
font-weight: 500 !important;
padding: 20px 0px !important;

}

.icv2{

font-size: 33px!important;
color: #FF0150;

}

   .table_header_dropdown button{
    color: #fff !important;
    font-weight: 500 !important;
    border:none;
}

 .modal-header{
 background: #FF0150 !important ;
 color: #fff;

}

.acc_collapse_list{

    border: none !important;
    
 
    }
    











