@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');


 body {
  font-family: 'Poppins', sans-serif !important;

 }

 .header_bg{
  background-color:#FF0185;

}

.nav_link_cl{
 color: #fff !important;

}

.header_search{

background: none !important;
border: none !important;
color: #fff !important;

}

.top_header{
display: flex;
justify-content: space-between;
align-items: center !important;

}

.login_seller_btn{
  background: linear-gradient(90deg, #FF0150 0%, #FF0185 100%) !important;
  border: 1px solid #FF0185 !important;
  font-size: 14px !important;
  border-radius: 40px !important;
  padding: 16px 30px !important;
  font-weight: 600 !important;

  }

 .login_seller_btn_1{

    background: linear-gradient(90deg, #FF0150 0%, #FF0185 100%) !important;
    border: 1px solid #FF0185 !important;
    font-size: 14px !important;
    border-radius: 40px !important;
    padding: 12px;
    font-weight: 600 !important;

  }

.banner_show{
 background-image: url("../src/Component/images/seller_bg_image.png");
 background-repeat: no-repeat;
 background-size: cover;
 height: 600px;

}

.bg-box{
    position: absolute;
    top: 69px;
}

.shwakeen_today{
  color: #fff !important;
  font-weight: 400;
}


.order_set {
  font-size: 17px !important;
  font-weight: 500; 
  }
  
  .due_date{
    color: #3F3F3F;
  font-size: 15px;
  
   }

    .num_digit h4{
    font-weight: 700;
    line-height: 45px;
    font-size: 36px;
    color: #0B0B0B;
    font-weight: 800;
    font-family: 'Poppins';
  }

 .nav_list_dropdown button{
  color: #fff !important;
  font-weight: 500 !important;
  width: 100%;
  border:none;
}

 .upperlist_show .nav_link{
  position: relative;

}

.upperlist_show .nav_link:after{
   content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.7s ease; 

}

.upperlist_show .nav_link:hover::after {
  width: 70%;
  height: 2px;
  background-color: #fff;
}

.visit_review_level{
  border-top: 2px solid #2D6BE0 !important;
  border-radius: 5px;

  }

.rating_show{

font-size: 45px;
font-weight: 700;

}

.measurement{
color: #0B0B0B;
font-weight: 500;
position: relative;

}

.measurement::before{
  content: "";
  position: absolute;
  background: #FF0150;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 4px;
  left: -19px;
}

.list_digit{
font-size: 36px;
font-weight: 700;
font-family: "poppins";

}

.review_des{
   font-size: 14px;
  font-weight: 600;
}

.review_content_list{
font-size: 14px;
text-align: justify;
}

.dashboard_nav_field{
 background: unset !important;
 border: unset !important;

}

.dropdown_pic{
display: flex;
align-items: center;

}
